{% extends "plantillaPadre.html" %}
{% block title %}CURSO DE DJANDO PAGINA HIJA {% endblock %}
{% block content %}
     
<p> estamos a: {{momento_Actual}}</p>
<iframe width="1224" height="500" src="https://www.youtube.com/embed/d1-UX6aR_TM?list=PLU8oAlHdN5BmfvwxFO7HdPciOCmmYneAB" title="Curso Django. Plantillas VI. Herencia de plantillas. Vídeo 10" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     
{% endblock %}