<html>
    <head>
        <title>
            {% block title %} {% endblock %}
        </title>
    </head>
    <body>
        <h1 style="background-color: rgb(37, 70, 147);color: white; text-align: center;font-style: oblique; "> PAGINA PRINCIPAL</h1>
       <h3>  CURSO PRACTICO DE DJANGO, HERENCIA DE PLANTILLAS</h3>
       {% block content %} 

       {% endblock %}
       <p style="background-color: rgb(37, 70, 147);color: white; text-align: right;font-style: oblique; "> pie de pagina para la herencia</p>
    </body>
</html>